.user-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.user-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  margin: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.card-title {
  text-align: center;
  margin-bottom: 20px;
  color: #f72585;;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  opacity: 1;
}

.user-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
}

.user-avatar {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  background-color: #f0f0f0;
  color: #666;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.default-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #666;
}

.user-data {
  flex: 1;
}

p {
  margin-bottom: 8px;
  color: #333;
}

@media screen and (max-width: 768px) {
  .user-info {
    width: 95%;
    padding: 15px;
  }
  
  .user-details {
    flex-direction: column;
  }
  
  .user-avatar {
    margin-bottom: 15px;
  }
}